body {
  background: #1e555c;
  color: white;
  font-size: 30px;
  text-align: center;
  .App {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  #container {
    .main-title {
      font-size: 50px;
      margin-bottom: 20px;
    }
    .length-control {
      width: 250px;
      display: inline-block;
    }
    .btn-level {
      display: inline-block;
      background: #1e555c;
    }
    .btn-level:nth-child(3) {
      width: 40px;
    }
    .button {
      background: none;
      outline: none;
      border: none;
      color: white;
      cursor: pointer;
    }
    .material-icons {
      background: #1e555c;
      color: aliceblue;
    }
    .timer {
      border: 7px solid #13353a;
      margin: 20px auto 10px auto;
      width: 270px;
      height: 160px;
      border-radius: 50px;
      position: relative;
    }
    #start,
    #stop {
      background-color: #1e555c;
    }

    #reset {
      background-color: #1e555c;
    }

    #time-left {
      font-family: digital;
      font-size: 80px;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
